*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
  overflow:hidden;
}

section{
/*   min-width: 100vw; */
}

.header{
  margin: 0 auto;
  padding: 3%;
  text-align: center;
}

.wish-content{
  text-align: center;
  padding: 10rem 1rem;
  background-color: #131218;
  background-position: bottom;
  /* clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 95%); */
  /* background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ); */
    
}

.row{
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
  justify-content: center;
  margin: 0 auto;
  
}

@media (min-width: 768px){
  .row{
    flex-wrap: nowrap;
  }

  .wish-content{
    clip-path: polygon(0px 10%, 100% 0px, 100% 90%, 0px 100%);
    height: 85%;
    

  }
}

.col-1-of-2{
  /* border: 1px solid #333; */
  flex-basis: 40%;
  padding: 2rem;
}

.wish-card{
  background-color: #131218;
  padding: 1rem;
  position: relative;
  height: 30rem;
  overflow: hidden;
  
}

.mac-width{
  width: 40rem;
  height: 25rem; 
}

.lg-width{
  width: 35rem;
}

.card-detail{
  color: #fff;
  background-color: rgba(11, 7, 31, 0.5);
  position: absolute;
  left: 0;
  bottom: 0rem;
  display: block;
  transform: translateY(60%);
  transition: all .8s ease;
  backface-visibility: hidden;
  
}

.wish{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}

.wish-item{
  font-size: 3rem;
  text-transform: capitalize;
}

.wish-price{
  font-size: 2rem;
  font-weight:lighter;
  opacity: 0;
  visibility: hidden;
}

.wish-description{
  padding: 2rem;
  font-size: 1.5rem;
}

.wish-card:hover .card-detail{
  transform: translateY(0);
}
